<!doctype html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic Bootstrap Template</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type= "text/css"  href= "static/styles/mystyle2.css">
     <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
 </head>

 <body onresize="responsiveFonts)")>
    <h1> INTELIGENTNY SYSTEM NAWADNIANIA</h1>




    <h2>Wilgotność gleby</h2>
    <div class = "container-flex" style = "height: 1000">
        <div class = "row d-flex p-2">

            <div class = "col-md-9">
                <canvas id="lineChart" width="500" height="300"></canvas>
            </div>

            <div class = "col-md-3 my-auto" align="center">
                <div class = "d-flex align-items-center mb-3  justify-content-center">
                    <form action ="#" method="post">
                        <p class="text-white"> Wprowadź Gorny limit:</p>
                        <p><input type = "number" name = "upper"/></p>
                        <p class="text-white">Wprowadź Dolny limit:</p>
                        <p><input type = "number" name = "lower"/></p>
                        <p><button type="submit" class="btn btn-primary btn-block">Submit</button></p>
                    </form>
                </div>
            </div>

        </div>
    </br>

        <h2>Temperatura</h2>
        <div class="row"  style = "height: 50%">
            <canvas id="lineChart2" width="800" height="400"></canvas>
        </div>

        <h2>Oświetlenie</h2>
        <div class="row"  style = "height: 50%">
            <canvas id="lineChart3" width="800" height="400"></canvas>
        </div>
    </div>


    <script>


    function responsiveFonts(){
        if (window.outerWidth>999){
            Chart.defaults.font.size=25;
        };
    }


       var ctx = document.getElementById("lineChart").getContext("2d");
       var lineChart = new Chart(ctx, {
            type: "line",
            data:{
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label:"Nawodnienie",
                        data: {{values | safe }},
                        fill: true,
                        borderColor: "rgb(75, 192, 192)",<!--kolorek linii wykresu-->
                        lineTension: 0,
                        spanGaps: true
                    }
                ],
            },

            options: {
                maintainAspectRatio: false,
                scales: {
                      y: {
                        ticks: {
                            color: "rgb(75, 192, 192)",
                            beginAtZero: true,

                        }
                      },
                      x: {
                        ticks: {
                            color: "rgb(75, 192, 192)",
                            beginAtZero: true,

                        },

                      }
                    }

            },
       });


       var ctx2 = document.getElementById("lineChart2").getContext("2d");
       var lineChart2 = new Chart(ctx2, {
            type: "line",
            data:{
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label:"temperatura",
                        data: {{temperatures | safe }},
                        fill: true,
                        borderColor: "rgb(75, 192, 192)",<!--kolorek linii wykresu-->
                        lineTension:0
                    }
                ]
            },

            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        ticks: {
                            color: "rgb(75, 192, 192)",
                            beginAtZero: true,
                        }
                    },
                    x: {
                        ticks: {
                            color: "rgb(75, 192, 192)",
                            beginAtZero: true,
                        },
                    }
                }

            },
       });


       var ctx3 = document.getElementById("lineChart3").getContext("2d");
       var lineChart3 = new Chart(ctx3, {
            type: "line",
            data:{
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label:"Natężenie oświetlenia",
                        data: {{lightings | safe }},
                        fill: true,
                        borderColor: "rgb(75, 100, 100)",
                        borderColor: "rgb(75, 192, 192)",<!--kolorek linii wykresu-->
                        lineTension:1
                    }
                ]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        ticks: {
                            color: "rgb(75, 192, 192)",
                            beginAtZero: true,
                            font: {
                                size: 8
                            }
                        }
                    },
                    x: {
                        ticks: {
                            color: "rgb(75, 192, 192)",
                            beginAtZero: true,
                            font: {
                                size: 8
                            }
                        },
                    }
                }

            },
       });



   </script>
 </body>
</html>